{
  environment = {
    DEBUG=true;
    SECRET_KEY = ".....";
    DJANGO_SETTINGS_MODULE="app.settings.dev";
    DATABASE_URL = "postgresql://postgres:password@localhost/postgres";
    ALLOWED_HOSTS = "*";
    DJANGO_ALLOW_ASYNC_UNSAFE = true;
  };
}
