if has nix-shell
then
    use nix
    echo "You use NixOS."
else
    echo "You do not use NixOS."
fi

dotenv

layout poetry
# Create virtual environment dir for PyCharm
VENV_DIR=venv
if [ ! -d $VENV_DIR ];
 then ln -s $(dirname $(dirname $(poetry run which python))) $VENV_DIR;
fi;

watch_dir ./nix/
watch_file ./poetry.lock

export DATA_DIR="$(pwd)/tmp"
