DEBUG = true
DJANGO_SETTINGS_MODULE = "library.settings.dev"
SECRET_KEY = .....
# postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]
DATABASE_URL = postgresql://postgres:password@localhost/postgres
ALLOWED_HOSTS = "*"

# For jupiterlab
# DJANGO_ALLOW_ASYNC_UNSAFE = true
STATIC_ROOT

STRIPE_PUBLISHABLE_KEY = ....
STRIPE_SECRET_KEY = ....
